*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
	--color-theme-01: oklch(73.9% 0.187 36.53);
}

:root {
	--color-theme-02: oklch(from var(--color-theme-01) calc(l - 6.8%) c h);
	--color-theme-03: oklch(from var(--color-theme-01) calc(l - 14.9%) c h);
	--color-theme-04: oklch(61.32% 0.207 29.12);
	--color-theme-05: oklch(61.32% 0.207 35.235);
	--color-theme-06: oklch(73.68% 0.155 35.235);
	--color-theme-07: oklch(72% 0.155 46.06);
	--color-theme-08: oklch(84% 0.118 212.29);
}

body {
	background-color: var(--color-theme-08);
	font-family: 'IBM Plex Serif', serif;
}

.wrapper {
	padding: 12px;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	background-color: var(--color-theme-01);
}

.page-name {
	font-size: 0.8em;
}

header,
nav,
main,
footer {
	margin: 10px;
}

h1,
h2,
h3 {
	font-variant-caps: small-caps;
}

header {
	background-color: var(--color-theme-08);
	color: var(--color-theme-03);
}

footer {
	padding-bottom: 10px;
}