*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
	--color-theme-01: oklch(73.9% 0.187 36.53);
	--color-theme-02: oklch(from var(--color-theme-01) calc(l - 6.8%) c h);
	--color-theme-03: oklch(from var(--color-theme-01) calc(l - 14.9%) c h);
	--color-theme-04: oklch(61.32% 0.207 29.12);
	--color-theme-05: oklch(61.32% 0.207 35.235);
	--color-theme-06: oklch(73.68% 0.155 35.235);
	--color-theme-07: oklch(72% 0.155 46.06);
	--color-theme-08: oklch(84% 0.118 212.29);
}

body {
	background-color: var(--color-theme-08);
	font-family: 'IBM Plex Serif', serif;
}

.wrapper {
	padding: 12px;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 23%;
	margin-right: 25%;
	background-color: var(--color-theme-06);
}

.page-name {
	font-size: 0.8em;
}